.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.dateTitle {
  font-weight: var(--octa-font-weight-semibold);
}

.tabGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.tabContent {
  min-height: 0;
}

.gridArea {
}
